<html>
<head>
    {{>header}}
</head>
<body>
    {{>loggedintopmenu}}
    <div class="container-fluid">

        <h1>Manage Contacts</h1>
        <div class="row">
            <p>
                Bring together all the people you know in one place.
            </p>
            <a href="#"><span class="glyphicon icon-linked-in"></span>  Linked In </a>   |
            <a href="#"><span class="glyphicon icon-linked-in"></span>  Facebook </a> |
            <a href="#"><span class="glyphicon icon-linked-in"></span>  Twitter </a> |
            <a href="#"><span class="glyphicon icon-linked-in"></span>  Google+ </a> |
            <a href="#"><span class="glyphicon icon-linked-in"></span>  Hotmail </a>
        </div>
        <div class="row">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Contact No</th>
                        <th>EmailId</th>
                        <th>Type</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Jigar Acharya</td>
                        <td>9819037540</td>
                        <td>jigaracharya@gmail.com</td>
                        <td>Faceboox</td>
                    </tr>
                    <tr>
                        <td>Jigar Acharya</td>
                        <td>9819037540</td>
                        <td>jigaracharya@gmail.com</td>
                        <td>LinkedIn</td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>

    {{>footer}}
</body>
</html>