<html>
<head>
    {{>header}}
</head>
<body>
    {{>loggedintopmenu}}
    <div class="container-fluid">

        <h1>Assign Account Manager</h1>
        <div class="row">


        </div>

    </div>

    {{>footer}}
</body>
</html>