<html>
<head>
    {{>header}}
</head>
<body>
    {{>loggedintopmenu}}
    <div class="container">
        <h1>Recruiter Application Approval</h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Company</th>
                    <th>Contact Person</th>
                    <th>Contact No</th>
                    <th>Email Id</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Company 1</td>
                    <th>James</th>
                    <th>982255555</th>
                    <td>james@gmail.com</td>
                    <td><a href="#">Approve</a> | <a href="#">Reject</a></td>

                </tr>
                <tr>
                    <td>Company 1</td>
                    <th>James</th>
                    <th>982255555</th>
                    <td>james@gmail.com</td>
                    <td><a href="#">Approve</a> | <a href="#">Reject</a></td>

                </tr>


            </tbody>
        </table>

        <h1>Referral Approval</h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Company</th>
                    <th>Contact Person</th>
                    <th>Contact No</th>
                    <th>Email Id</th>
                    <th>Referral Amount</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Company 1</td>
                    <th>James</th>
                    <th>982255555</th>
                    <td>james@gmail.com</td>
                    <td>$25000</td>
                    <td><a href="#">Approve</a> | <a href="#">Reject</a></td>

                </tr>
                <tr>
                    <td>Company 1</td>
                    <th>James</th>
                    <th>982255555</th>
                    <td>james@gmail.com</td>
                    <td>$10000</td>
                    <td><a href="#">Approve</a> | <a href="#">Reject</a></td>

                </tr>


            </tbody>
        </table>
    </div>

    {{>footer}}
</body>
</html>