<html>
<head>
    {{>header}}
</head>
<body>
    {{>loggedintopmenu}}
    <div class="container">
        <h1>View Account Managers</h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Contact No</th>
                    <th>Email Id</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Jigar Acharya</td>
                    <td>9819037540</td>
                    <td>jigaracharya@gmail.com</td>
                    <td><a href="/account/profile">Edit</a></td>
                   
                </tr>
                <tr>
                    <td>Manager 1</td>
                    <td>9819037540</td>
                    <td>manager1@gmail.com</td>
                    <td><a href="/account/profile">Edit</a></td>

                </tr>
                <tr>
                    <td>Manager 2</td>
                    <td>9819037540</td>
                    <td>manager2@gmail.com</td>
                    <td><a href="/account/profile">Edit</a></td>

                </tr>

            </tbody>
        </table>
    </div>

    {{>footer}}
</body>
</html>