<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/account">Recruitment Portal</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/account/contact/manage">Manage Contacts</a></li>
                <li><a href="/account/jobposting/view">Job Posting</a></li>
                <li><a href="/account/resume/view">Manage Resume</a></li>
                <li><a href="/account/message/view">Message</a></li>
                <li><a href="/account/notification/view">Notification </a></li>
                <li><a href="/account/referral">Referral Earnings </a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="/account/reports">Reports <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/account/reports/report1">Report 1</a></li>
                        <li><a href="/account/reports/report2">Report 2</a></li>
                        <li><a href="/account/reports/report3">Report 3</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="/account/admin/dashboard">Administrator <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/account/jobposting/new">New Job Posting</a></li>
                        <li><a href="#">Assign Account Manager</a></li>                       
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/account/profile"><span class="glyphicon glyphicon-user"></span> Jigar Acharya</a></li>
                <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        </div>
    </div>
</nav>