<html>
<head>
    {{>header}}
</head>
<body>
    {{>loggedintopmenu}}   
    <div class="container-fluid">
       
        <h1>Dashboard</h1>
        <div class="row">
        
            
        </div>

    </div>

    {{>footer}}
</body>
</html>