<html>
<head>
    {{>header}}
</head>
<body>
    {{>topmenu}}
    <div class="container-fluid">
        <div class="jumbotron">
            <h3><b>Our People</b></h3>
            <p>Our team is composed of individuals with extensive experience in recruiting, business and
technology. Our core focus is providing a technologically advanced, new and revolutionary way to
match great jobs with great candidates.</p>
            <h3><b>Our Vision</b></h3>
            <p>
                We strive to challenge the status quo of the traditional recruiting process. We see a future where
                independent recruiters and individuals can seamlessly work with employers to fill open positions
                faster, improve quality of hire and significantly reduce cost per hire..
            </p>
            <p><a href="\aboutus" target="_blank" class="btn btn-success btn-lg">Learn More &raquo;</a></p>
        </div>

        <div class="row">
            <div class="col-xs-3">
                <h2>REFER</h2>
                <p>Cash Rewards + Good Karma
You have great referrals locked away in your social networks. What if there was a way to refer your connections … and get paid too! The average cash reward is $5000!
We can also help you find your dream job.</p>
                <p><a href="\refer" target="_blank" class="btn btn-success">Learn More &raquo;</a></p>
            </div>
            <div class="col-xs-3">
                <h2>HIRE</h2>
                <p>Find top talent via social referrals.
Recruitment Portal is a game changing referral driven social recruiting platform. You can choose the pay-for-performance based public model or you can deploy Recruitment Portal in a private setting and turbo charge your internal employee referral program.</p>
                <p><a href="\hire" target="_blank" class="btn btn-success">Learn More &raquo;</a></p>
            </div>
            <div class="col-xs-3 ">
                <h1 align="left" class="margin-base-vertical">Login</h1>
                <form class="margin-base-vertical" method="post" action="/loginAuth">
                    <p class="input-group ">
                        <span class="input-group-addon"><span class="icon-envelope"></span></span>
                        <input type="text" required class="form-control input-lg" name="loginName" placeholder="Login Name" />
                    </p>
                    <p class="input-group ">
                        <span class="input-group-addon"><span class="icon-key"></span></span>
                        <input type="password" required class="form-control input-lg" name="password" placeholder="Password" />
                    </p>
                    <br />
                    <p class="text-left">
                        <button type="submit" class="btn btn-success btn-lg">Log In</button>
                    </p>
                </form>
            </div>
        </div>
        
    </div>

    {{>footer}}
</body>
</html>