<html>
<head>
    {{>header}}
</head>
<body>
    {{>topmenu}}
    <h1>Refer</h1>
    <p>
        Social referrals are the most effective way to find and hire the best talent. Recruitment Portal is a game changing referral driven social recruiting platform that finds the very best candidates fast and consistently before your competition.
        Our robust technology takes the benefits of a typical employee referral program to a new level by leveraging the power of social web and crowdsourcing. Whether you want to keep your referral reward program limited to in-house employees or launch it to our member community and get access to a broader talent pool, our tool helps you with your hiring needs.
    </p>


    {{>footer}}
</body>
</html>