<html>
<head>
    {{>header}}
</head>
<body>
    {{>loggedintopmenu}} 
    <div class="container-fluid">

        <h1>New Notification</h1>
        <div class="row">


        </div>

    </div>

    {{>footer}}
</body>
</html>