<html>
<head>
    {{>header}}
</head>
<body>
    {{>loggedintopmenu}}
    <div class="container-fluid">

        <h1>Notification</h1>
        <div class="row">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>From</th>
                        <th>Message</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Recruiter: James</td>
                        <td>Uploaded resumes with updated profile details</td>
                        <td>8 Sep 2013, 08:46 PM</td>
                       
                    </tr>
                    <tr>
                        <td>System</td>
                        <td>Candidate suggested by you got selected</td>
                        <td>20 Sep 2013, 08:46 AM</td>
                        
                    </tr>
                </tbody>
            </table>

        </div>

    </div>

    {{>footer}}
</body>
</html>