<html>
<head>
    {{>header}}
</head>
<body>
    {{>loggedintopmenu}}
    <div class="container-fluid">

        <h1>Potential referral earnings </h1>
        <div class="row">
            Total potential referral earnings : $25000
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Employer name	</th>
                        <th>Candidate name	</th>
                        <th>Joining date		</th>
                        <th>Guarantee period end date	</th>
                        <th>Due on	</th>
                        <th>Amount ($)</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>ABC Inc</td>
                        <td>James</td>
                        <td>8 Sep 2016</td>
                        <td>8 Dec 2016</td>
                        <td>8 Dec 2016</td>
                        <td>15000</td>
                        <td>Pending</td>

                    </tr>
                    <tr>
                        <td>ABC Inc</td>
                        <td>Tom</td>
                        <td>8 Jan 2016</td>
                        <td>8 May 2016</td>
                        <td>8 May 2016</td>
                        <td>1000</td>
                        <td>Pending Approval</td>

                    </tr>
                </tbody>
            </table>

        </div>


        <h1>Successful referral earnings </h1>
        <div class="row">
            Total potential referral earnings : $15000
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Employer name	</th>
                        <th>Candidate name	</th>
                        <th>Joining date		</th>
                        <th>Guarantee period end date	</th>
                        <th>Due on	</th>
                        <th>Amount ($)</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>ABC Inc</td>
                        <td>James</td>
                        <td>8 Sep 2016</td>
                        <td>8 Dec 2016</td>
                        <td>8 Dec 2016</td>
                        <td>15000</td>
                        <td>Pending</td>

                    </tr>
                </tbody>
            </table>

        </div>
    </div>

    {{>footer}}
</body>
</html>