<html>
<head>
    {{>header}}
</head>
<body>
    {{>loggedintopmenu}}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <!-- start: INLINE TABS PANEL -->
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-7">
                                    <span class="input-icon input-icon-left">
                                        <input type="text" placeholder="Job Title eg: Acccountant, Sales" id="form-field-17" class="form-control">
                                       
                                    </span>
                                </div>
                                <button type="button" class="btn btn-primary">
                                    Search Jobs
                                </button>
                                <!-- Indicates a successful or positive action -->
                                <button type="button" class="btn btn-success">
                                    Save this search
                                </button>
                            </div>
                            <hr>
                            <div class="tabbable">
                                <div class="tab-content">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h2 class="StepTitle">Jobs</h2>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="tabbable">
                                                <div class="tab-content">
                                                    <div class="row">
                                                        <div class="col-sm-3">
                                                            <h3 class="StepTitle" style="color: grey">Solution Architect</h3>
                                                            <p><i class="icon-map-marker"></i> Chicago, IL</p>
                                                            <p><i class="icon-time"></i> Full-Time</p>
                                                            <p>
                                                                Posted: 2 days ago <br>
                                                                Employer last log in: 1 day ago
                                                            </p>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <h3 class="StepTitle" style="color: grey"> Job Description</h3>
                                                            <p>
                                                                Mandatory Skills: .NET, MVC 4, ASP.NET, CSS3, HTML5, JQuerry,
                                                                Load JS, XML/XSD, Oracle, PL/SQL
                                                                <a href="#responsive" data-toggle="modal">
                                                                    Full Description
                                                                </a>
                                                            </p>
                                                            <button type="button" class="btn">
                                                                Apply on behalf of candidates
                                                            </button>
                                                            <!-- Indicates a successful or positive action -->
                                                            <button type="button" class="btn btn-orange">
                                                                Refer and earn $7500
                                                            </button>
                                                            <a href="#">
                                                                Check candidate
                                                            </a>
                                                            <h5> 1 Open Position</h5>
                                                        </div>

                                                        <div class="col-sm-3">
                                                            <svg height="100" width="100">
                                                                <g>
                                                                    <circle cx="50" cy="50" r="40" stroke="grey" stroke-width="3" fill="#eee" />
                                                                    <text x="25" y="55" font-family="Verdana" font-size="15" fill="black"> $7500 </text>
                                                                </g>
                                                                Sorry, your browser does not support inline SVG.
                                                            </svg>
                                                            <p class="StepTitle" style="color: grey">Referral award gaurantee period 60 days</p>
                                                            <i class="clip-google-plus"></i>
                                                            <i class="clip-facebook"></i>
                                                            <i class="clip-twitter"></i>
                                                            <i class="clip-linkedin"></i>
                                                            <p style="color: blue">
                                                                Share this job
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="tabbable">
                                                <div class="tab-content">
                                                    <div class="row">
                                                        <div class="col-sm-3">
                                                            <h3 class="StepTitle" style="color: grey">Defined Benefit Acturial Consultant</h3>
                                                            <p><i class="icon-map-marker"></i> New York, NY</p>
                                                            <p><i class="icon-time"></i> Part Time</p>
                                                            <p>
                                                                Posted: 20 days ago <br>
                                                                Employer last log in: 15 days ago
                                                            </p>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <h3 class="StepTitle" style="color: grey"> Job Description</h3>
                                                            <p>
                                                                Mandatory Skills: Analytical problem solving, Maths and Numeracy,
                                                                Computer skills, Knowlegde of Business and Finance, Communication and Interpersonal skills.
                                                                <a href="#responsive" data-toggle="modal">
                                                                    Full Description
                                                                </a>
                                                            </p>
                                                            <button type="button" class="btn">
                                                                Apply on behalf of candidates
                                                            </button>
                                                            <!-- Indicates a successful or positive action -->
                                                            <button type="button" class="btn btn-orange">
                                                                Refer and earn $10000
                                                            </button>
                                                            <a href="#">
                                                                Check candidate
                                                            </a>
                                                            <h5> 2 Open Position</h5>
                                                        </div>

                                                        <div class="col-sm-3">
                                                            <svg height="100" width="100">
                                                                <g>
                                                                    <circle cx="50" cy="50" r="40" stroke="grey" stroke-width="3" fill="#eee" />
                                                                    <text x="20" y="55" font-family="Verdana" font-size="15" fill="black"> $10000 </text>
                                                                </g>
                                                                Sorry, your browser does not support inline SVG.
                                                            </svg>
                                                            <p class="StepTitle" style="color: grey">Referral award gaurantee period 60 days</p>
                                                            <i class="clip-google-plus"></i>
                                                            <i class="clip-facebook"></i>
                                                            <i class="clip-twitter"></i>
                                                            <i class="clip-linkedin"></i>
                                                            <p style="color: blue">
                                                                Share this job
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Starts here -->
        <div id="responsive" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">TC-Digital</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <h4>Solution Architect</h4>
                        <p>
                            Mandatory Skills:
                            .NET, MVC 4, ASP.NET, CSS3, HTML5, JQuerry,
                            Load JS, XML/XSD, Oracle, PL/SQL
                        </p>
                        <p>
                            EXCELLENT COMMUNICATION REQUIRED. Should be proactive and take initiative to talk to team members and other group members.
                        </p>
                        <p>
                            Should be able to suggest ways of improving existing solutions.
                        </p>
                        <p>
                            Should be able to assist with testing of applications and solutions.
                        </p>
                        <p>
                            Should be able to review code to find out errors and way to optimizie it.
                        </p>
                        <p>
                            Should be able to give innovative solutions, architecture, design to solve existing business challenges.
                        </p>
                        <p>
                            REQUIREMENT: Should be able to interact with business users, gather high level requirements, documents, transform requirement to detailed requirement, create design document.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <h4>About job</h4>
                        <div class="col-md-6">
                            <label class="control-label">
                                Job Title:
                            </label>
                            <p style="color: grey">
                                Solution Architect
                            </p>

                            <label class="control-label">
                                Job Function:
                            </label>
                            <p style="color: grey">
                                Information Technology
                            </p>


                            <label class="control-label">
                                Experience Level:
                            </label>
                            <p style="color: grey">
                                Intermediate
                            </p>

                            <label class="control-label">
                                Job Classification:
                            </label>
                            <p style="color: grey">
                                Professionals
                            </p>

                            <label class="control-label">
                                Location:
                            </label>
                            <p style="color: grey">
                                Chicago, IL
                            </p>

                            <label class="control-label">
                                Skills:
                            </label>
                            <p style="color: grey">
                                .NET, MVC 4, ASP.NET, CSS3, HTML5, JQuerry,
                                Load JS, XML/XSD, Oracle, PL/SQL
                            </p>


                        </div>
                        <div class="col-md-6">
                            <label class="control-label">
                                Job Type:
                            </label>
                            <p style="color: grey">
                                Full Time
                            </p>

                            <label class="control-label">
                                Industry:
                            </label>
                            <p style="color: grey">
                                Airlines/Aviation
                            </p>

                            <label class="control-label">
                                Education Level:
                            </label>
                            <p style="color: grey">
                                Bachelors
                            </p>

                            <label class="control-label">
                                Compensation:
                            </label>
                            <p style="color: grey">
                                $91000-$10000
                            </p>

                            <label class="control-label">
                                Zip code:
                            </label>
                            <p style="color: grey">
                                60606
                            </p>

                            <label class="control-label">
                                Experience Required:
                            </label>
                            <p style="color: grey">
                                10 years
                            </p>

                            <label class="control-label">
                                Number of Positions:
                            </label>
                            <p style="color: grey">
                                1
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-light-grey">
                    Close
                </button>
                <button type="button" class="btn btn-blue">
                    Save changes
                </button>
            </div>
        </div>

    </div>

    {{>footer}}
</body>
</html>