<html>
<head>
    {{>header}}
</head>
<body>
    {{>loggedintopmenu}}   <br><br><br>
    <div class="container-fluid">

        <h1>Job Postring</h1>
        <div class="row">


        </div>

    </div>

    {{>footer}}
</body>
</html>